@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.tooltip {
    position: fixed;
    background-color: gray;
}

.confeditor {
      text-align: left;
      padding: 10px;
      position: fixed;
      background-color: yellowgreen;
      opacity: 0;
      left: 0;
      top: 0;
}

.rungraph {
    color: green;
}
