body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 21px;
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
	color: #050505;
	background-color: #FAFAFA;
}

.bar {
	background-color: black; 
    height: 30px;
    margin-bottom: 10px;
}

b {
    font-size: 18px;
}



.container {
    width:80%;
    margin: auto;
}

.ui.textarea .textarea:hover {
    border: 1px solid transparent;
    outline: 1px solid #76b900;
    box-shadow: none;
}

.ui.textarea .textarea {
    font-size: 14px;
    width: 100%;
    height: 300px;
    padding: 4px;
}

textarea {
    overflow: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 11px system-ui;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

.ui.textarea .metadata {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

div {
    display: block;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.4px;
    text-transform: none;
    color: #050505;
}

.ui.textarea .metadata .sublabel {
    font-size: 12px;
    display: block;
    color: #9e9e9e;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.ui.textarea .textarea::after {
    box-shadow: none;
}

button i {
	font-size: 12px;
    border: none;
	padding: 3px;
}

button i.fa-microphone {
	color: #76B900;
}

button i.fa-play {
	color: #76B900;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.0px;
}

h2, h2.dark {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
    letter-spacing: -0.4px;
    text-transform: none;
    color: #9E9E9E;
	margin-bottom: -5px;
}

h1, h1.dark {
    font-family: 'DINWebPro', 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
    letter-spacing: -0.4px;
    text-transform: none;
    color: #050505;
}

h1{
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
	width: 95%;
    margin: 0;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: none;
    color: #050505;
}

.ui.textfield label {
    display: block;
}

.ui.textfield {
    width: 100%;
    padding: 4px;

}

.ui.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.ui.button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: none;
    padding: 6px 12px;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    border-radius: 0;
    outline: none;
    will-change: auto;
}

.ui.button.primary {
    color: #fff;
    background: #76b900;
	width: 60px;
}

.ui.selection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.ui.select {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: none;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: 400;
}


